


<div data-role="page" class="type-interior">

	<div data-role="header" data-theme="f">
		

	</div><!-- /header -->

	<div data-role="content">
		
		<div class="content-primary">
		
       <img src="/logo.png"  align="center" width="120" height="120" />    

<p / >
         <img src="/frontScreenDiv.png "  align="center" width="800" height="600" /> 
      


</center>            
        <p />


		<!--iframe src="http://173.255.240.147/hospitalseeker/db/patientChart.php"  width="100%" height="430"></iframe 

purple 662D91
bg     #efe0d1
text clor   #6c655d
    -->		
	
</div>
