<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Gut Guru</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
	<div style="background:#662c91; height:6px; width:1080px; margin: 0 auto;"></div>
	<div class="container">
    	
    	<div class="logo"></div>
        <div class="signin">
        	<input type="text" id="username" />
        	<input type="password" id="password" />
            <a href="#" class="whiteb">Login</a>
            <a href="#" class="button button2">Signup</a>
        </div>
        <div class="menubar">
            <ul id="menu">
                <li><a class="selected" href="index.html">What is GUT GURU?</a></li>
                <li><a href="about.html">How it works?</a></li>
                <li><a href="solution_omie.html">Contact Us</a></li>
                <li><a href="support.html">Our Team</a></li>
            </ul>
            
            <br style=" clear:both" />
            
        </div>
        <div style="background:#efe0d1 url(images/noise.png); height:15px; width:1080px;"></div>
      	
        
        <div class="customer_content">
        
        	<em>Welcome back, Jasmine</em>
        
				<div class="options">
                	Your <span class="red">highest</span> 
                    <select id="styledSelect" >
                          <option value="a1">OVERALL BOWEL SYMPTOM</option>
                          <option value="a2">ABDOMINAL PAIN</option>
                          <option value="a3">BLOATING</option>
                          <option value="a4">CONSTIPATION</option>
                          <option value="a5">DIARRHEA</option>
                    </select>
                    scores were associated with the following food groups:
                    
                </div>
                
                <div class="options">
                	Your <span class="green">Lowest</span> 
                    <select id="styledSelect" >
                          <option value="a1">OVERALL BOWEL SYMPTOM</option>
                          <option value="a2">ABDOMINAL PAIN</option>
                          <option value="a3">BLOATING</option>
                          <option value="a4">CONSTIPATION</option>
                          <option value="a5">DIARRHEA</option>
                    </select>
                    scores were associated with the following food groups:
                    
                </div>
                
                <a href="#" class="button">Show me detailed meal description</a>
                <div class="details">
                    <ol>
                        <li>Peaches, Tillamook non-fat yogurt</li>
                        <li>Milkshake</li>
                        <li>Lucerne Whipped Crean, Haagen Daz chocolate ice cream</li>
                        <li>Diet Coke, cottage cheese, peaches</li>
                        <li>Watermelon</li>
                    </ol>
              	</div>  
                
                
        </div>
        
        
        </div>
        
	</div>
</body>
</html>
