



    <div style="background:#662c91; height:6px; width:1080px; margin: 0 auto;"></div>
    <div class="container">
        
        <div class="logo"></div>
        <div class="signin">
            <b>Welcome Dr. Zia&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            <a href="#" class="whiteb">Logout</a>
        </div>
        <div class="menubar">
            <ul id="menu">
                <li><a class="selected" href="index.html">What is GUT GURU?</a></li>
                <li><a href="#">How it works?</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Team</a></li>
            </ul>
            
            <br style=" clear:both" />
            
        </div>
        <div style="background:#efe0d1 url(/images/noise.png); height:15px; width:1080px;"></div>
        
        
        <div class="customer_content">
          <table width="40%" height="256" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td rowspan="2"class="str">Patient Name</td>
              <td rowspan="2"class="str">Highest IBS Score</td>
              <td rowspan="2"class="str">Lowest IBS Score</td>
              <td rowspan="2"class="str">Average IBS Score</td>
              <td rowspan="2" class="str">Average Stress</td>
              <td rowspan="2" class="str">Last updated</td>
              <td rowspan="2" class="str"></td>
            </tr>
            <tr/>

            <tr>
              <td>Jasmine</td>
              <td>25</td>
              <td>21</td>
              <td>23</td>

              <td>6</td>
              <td>10/06/12 8:30AM</td>
              <td><%= link_to "Details", welcome_index1_path, :class => "button" %></td>
            </tr>

            <tr>
              <td>Jessica</td>
              <td>33</td>
              <td>26</td>

              <td>30</td>
              <td>1</td>
              <td>10/06/12 8:30AM</td>
              <td><%= link_to "Details", welcome_index1_path, :class => "button" %></td>

            </tr>

            <tr>
              <td>Kenneth</td>
              <td>37</td>
              <td>21</td>
              <td>26</td>
              <td>7</td>
              <td>10/06/12 8:30AM</td>
              <td><%= link_to "Details", welcome_index1_path, :class => "button" %></td>

            </tr>

          </table>

<!--a href="/welcome/index2.html" class="button" >Next</a-->

        
            
</div>