



<div data-role="page" class="type-interior">

	<div data-role="header" data-theme="f">
		

	</div><!-- /header -->

	<div data-role="content">
		
		<div class="content-primary">
		
       <img src="/logo.png"  align="center" width="120" height="120" />


          

            <form method="get"  name="datarange">
<p/>
Welcome Jesmine! <p/> 

<center>
Your <font color="red">HIGHEST </font>
                <select id="number" name="value you need">
                    <option value="select-value" >Select ... </option>  
                    <option value="atlanta" selected="selected">OVERALL BOWEL SYMPTOM</option>
                    <option value="atlanta">ABDOMINAL PAIN</option> 
                    <option value="atlanta">BLOATING</option>
                    <option value="atlanta">DIARRHEA</option>
            </select>

                     scores were associated with the following food meals
            </form>

</center>  




<ol style="margin-left:220px;">
  <li>Peaches, Tillamook non-fat yogurt</li>
  <li>Milkshake</li>
  <li>Lucerne Whipped Cream, Haagen Daz chocolate ice-cream</li>
    <li>Diet Coke, cottage cheese, peaches</li>
    <li>Watermelon</li>
</ol>


          
        <p />

		<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

		<!--iframe src="http://173.255.240.147/hospitalseeker/db/patientChart.php"  width="100%" height="430"></iframe 

purple 662D91
bg     #efe0d1
text clor   #6c655d
    -->		
	
</div>
