



    <div style="background:#662c91; height:6px; width:1080px; margin: 0 auto;"></div>
    <div class="container">
        
        <div class="logo"></div>
        <div class="signin">
            <b>Welcome Jasmine&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
            <a href="#" class="whiteb">Logout</a>
        </div>
        <div class="menubar">
            <ul id="menu">
                <li><a class="selected" href="index.html">What is GUT GURU?</a></li>
                <li><a href="#">How it works?</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Team</a></li>
            </ul>
            
            <br style=" clear:both" />
            
        </div>
        <div style="background:#efe0d1 url(/images/noise.png); height:15px; width:1080px;"></div>
        
        
        <div class="customer_content">
          <table width="100%" height="256" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td rowspan="2"class="str">Date/Time of Entry</td>
              <td colspan="5" class="str">Bowel Symptom Scores</td>
              <td rowspan="2" class="str">Stress Scores</td>
              <td rowspan="2" class="str">Meals Logged 4 Hours Before</td>
            </tr>
            <tr>
              <td>Abd pain</td>
              <td>Bloating</td>
              <td>Constipation</td>
              <td>Diarrhea</td>
              <td>Sum</td>
            </tr>
            <tr>
              <td>10/06/12 8:30AM</td>
              <td>8</td>
              <td>5</td>
              <td>5</td>
              <td>3</td>
              <td>21</td>
              <td>6</td>
              <td>Blueberry Muffin</td>
            </tr>
            <tr>
              <td>10/06/12 8:30AM</td>
              <td>3</td>
              <td>6</td>
              <td>5</td>
              <td>4</td>
              <td>18</td>
              <td>1</td>
              <td>Orange Juice</td>
            </tr>
            <tr>
              <td>10/06/12 8:30AM</td>
              <td>8</td>
              <td>6</td>
              <td>2</td>
              <td>4</td>
              <td>20</td>
              <td>7</td>
              <td>Chocolate cake</td>
            </tr>
            <tr>
              <td>10/06/12 8:30AM</td>
              <td>6</td>
              <td>6</td>
              <td>5</td>
              <td>8</td>
              <td>25</td>
              <td>1</td>
              <td>Walnut milk</td>
            </tr>
          </table>

<!--a href="/welcome/index2.html" class="button" >Next</a-->

<%= link_to "Next", welcome_index2_path, :class => "button" %>


        <!--iframe src="http://173.255.240.147/hospitalseeker/db/patientChart.php"  width="100%" height="430"></iframe 

purple 662D91
bg     #efe0d1
text clor   #6c655d
    -->         
            
</div>