
    <div style="background:#662c91; height:6px; width:1080px; margin: 0 auto;"></div>
    <div class="container">
        
        <div class="logo"></div>
        <div class="signin">
            <input type="text" id="username" value="jasmine" />
            <input type="password" id="password" value="111111" />
            <a href="#" class="whiteb">Login</a>
            <a href="#" class="button button2">Signup</a>
        </div>
        <div class="menubar">
            <ul id="menu">
                <li><a class="selected" href="index.html">What is GUT GURU?</a></li>
                <li><a href="#">How it works?</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Team</a></li>
            </ul>
            
            <br style=" clear:both" />
            
        </div>
        <div style="background:#f9f8f8 url(/images/noise.png); height:15px; width:1080px;"></div>
        
        
        <div class="maincontent">
                <div class="">
                    <select id="styledSelect" >
                          <option value="yourMom">I am a patient</option>
                          <option value="myMom">I am a physician</option>
                          <option value="myMom">I am a researcher</option>
                    </select>
                    <!--a href="/welcome/index1.html" class="button" >Let's get started</a-->

                    <%= link_to "Let's get started", welcome_index1_path, :class => "button" %>

                </div>
                <h1>It's easy to understand what foods trigger your bowel symptoms.</h1>
                <h3>
                    Gut Guru organizes and categorizes your food intake and symptoms for you. See how the food groups you eat correlates with your bowel symptoms.
                </h3>
                <img src="/images/frontScreenDiv.png" width="262" height="250" />
        </div>
        
        
        </div>
        
        <div style="float:none; clear:both;"></div>
        
    </div>

